body{
	background-color: orange;
	margin: 0px;
}
h1{
	text-align: right;
	color: white;
	text-decoration-style: solid;
}

#ola-mundo, #meu-h1, #meu-h1-com-outro-texto{
	color: white;
	text-align: center;
	font-style: italic;
}

.texto-verde:hover{
	color: orange;
}

.fonte-maior{
	font-size: 40px;
}
.fonte-diferente{
	font-family: 'Passion One'
}

.menu{
	width: 200px;
	height: 40px;
	display: block;
	background-color: orange;
	color: #9800ff;
	font-weight: bold;
	font-size: 20px;
	margin-left: 10px;
	margin-bottom: 10px;
	padding-top: 30px;
}

.menu:hover{
	background-color: #80ff56;
	color: #021c84;
	cursor: progress;
}
